<nav class="navbar ps-4 pe-4 mb-5 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fs-5 fw-bolder" href="@Url.Action("Home", "Index")">Marketplace</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link fs-5" href="@Url.Action("All", "Products")">Товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="@Url.Action("PickupPoint", "Entities")">ПВЗ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="@Url.Action("Order", "Entities")">Заказы</a>
            </li>
        </ul>
    </div>
</nav>