<nav class="navbar ps-4 pe-4 mb-5 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fs-5 fw-bolder" asp-action="index" asp-controller="home">Marketplace</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link fs-5" asp-action="all" asp-controller="products">Товары</a>
            </li>
        </ul>
    </div>
</nav>